/*Blue Accent color - #188fff
Red Accent color - #C00000
*/
html{
    padding:0;
    margin:0;
}
body{
    /*Let's make this look nice*/
    padding:0;
    margin:0;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    font-family:"Noto Sans","Lucida Grande","Lucida Sans","Segoe UI",sans-serif;
    font-weight:normal;
    line-height:1.6;
    color:#505561;
    text-rendering: optimizeLegibility;

    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;

    /*Scrollbar Stuff*/
    scrollbar-base-color: #0F2D51;
    scrollbar-3dlight-color: #0F2D51;
    scrollbar-arrow-color: #747C8F;
    scrollbar-darkshadow-color: #0F2D51;
    scrollbar-face-color: #0F2D51;
    scrollbar-highlight-color: #0F2D51;
    scrollbar-shadow-color: #0F2D51;
    scrollbar-track-color: #0F2D51;
}

p.body-text{
    
}
p, li, td{
    font-size:1em;
    vertical-align: middle;
}

h1{
    color: #505561;
    vertical-align: top;
    text-align: left;
    font-size:2em;
}
div{
    display: block;
}

header{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.blair-header{
    position: relative;
    display: block;
    text-align: center;
    height: auto;
    padding: 20px 0px 5px 0px;
    line-height:1;
    color: #333;
    font-size: 30px;
    border-bottom: hidden;
    text-decoration: none;
}
.blair-header:hover{
    border-bottom-style: none;
}

nav{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    overflow: auto;
    height:37px;
    margin: 0px;
    background-color: #6e6e6e;
    /*adds shadow to bar box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
}

a.bar-item {
    padding:6px 10px;
    margin:0;
	float: left;
    display: block;
    text-align: center;
    color: #f1f1f1;
    border-right: 1px solid #bbb;
}
a.bar-item:hover:not(.active){
    background-color: #333;
    color: #f1f1f1;
}
.active{
    background-color: #DA0016;
}

main{
    margin: 2em 3em 2em 3em;
}

footer{
    margin: 0em 3em 2em 3em;
}

a{
    cursor: pointer; 
    text-decoration: none;
}
a.text:hover, a.blair-header:hover{
    color: #505561;
    
}

a.text{
    color: #DA0016;
    border-bottom: 1px dotted #b1b7c5;
    transition: 0.1s all;
}
a.text:hover{
    border-bottom-style: solid;
}
a.text:visited{
    color: #505561;
}



.login input
{
background: #B4C0D6;
color: #0F2D51;
}
